*{
    font-family:'Griffy', sans-serif;
    margin: 0px;
    padding: 0px;
}
.text{
    width: 100.000vw;
    height: 100.000vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text__error{
    font-size: 11.833vw;
    color: black;
}
.text__message{
    font-size: 6.944vw;
    color: black;
}
body{
    background-color: #A76F02;
}
span:hover{
    transition: 0.2s;
    color: #556B2F;
    cursor: pointer;
}